.dot {
	height: 100px;
	width: 100px;
	background-color: #8b0000;
	border-radius: 50%;
	display: inline-block;
    padding: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.wrapper-dots{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
